<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <%# <style background-color= > %>
    <h1 class="display-4">
      <%= @register.name %>
    </h1>
    <p class="lead t-">
      <strong>Endereço:</strong>
      <%= @register.adress %>
      </br>
      </br>
      <strong>Cpf:</strong>
      <%= @register.cpf %>
      </br>
      </br>

      <strong>Data de Nascimento:</strong>
      <%= @register.born %>
      </br>
      </br>

      <strong>Telefone:</strong>
      <%= @register.tellphone %>

    </p>
    <hr class="my-4">
    <%= link_to 'Editar', edit_register_path(@register), class:"btn-success btn-sm text-white" %>  <%= link_to 'Voltar', registers_path, class:"btn-success btn-sm text-white" %>
    

</div>

